body{background-color: #93D6E8;
    margin-left: 0px;
    margin-top: 0px;}
.container{
    position: relative;
    width: 800px;
    height: 800px;
    background-color: grey;
}


.top{
    background-color: red;
    width: 200px;
    height: 200px;

}
.mid{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
}

.bottom{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;

}